*{margin: 0; padding: 0}
@keyframes loopae {
	0%   {opacity:0; top: 0}
	80%  {opacity:1; top: -20px}
	100% {opacity: 0; top: -20px}
}
a{text-decoration: none; color: #000}
.wrap{position: absolute; top: 50%; left: 50%; margin-left: -25px; margin-top: -25px}
.content{position: relative; width: 50px; height: 50px; background: url(../images/praise.png) no-repeat; background-size: 100%; cursor: pointer}
.add_num{ position: absolute; top: 0; left: 50%; width: 18px; height: 14px; text-align: center; color: red; font-size: 12px;
	margin-left: -9px; opacity: 0;
}
.content.disable{background: url(../images/forbid-praise.png) no-repeat; background-size: 100%}
.content.active .add_num{
	animation:loopae 1s;-moz-animation:loopae 1s; -webkit-animation:loopae 1s; 	-o-animation:loopae 1s
}