{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}
{% block head %}
	{% parent %}
	<link rel="stylesheet" type="text/css" href="../stylesheets/index.css">	
	<script type="text/javascript" src="http://cdn.bootcss.com/x-tag/1.5.11/x-tag-core.js"></script>
	<script type="text/javascript" src="../scripts/x-praise.es"></script>	
{% endblock %}

{% block content %}
	<x-praise></x-praise>

	<script type="text/javascript" src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdn.bootcss.com/systemjs/0.20.2/system.js"></script>
	<script type="text/javascript" src="http://cdn.bootcss.com/axios/0.15.3/axios.js"></script>
	<script type="text/javascript">
	
		SystemJS.config({
	        baseURL: '/'
	    });

		function callBack(){
        	var f = new $.thumb(0, $('#praise').get(0));
        	f.clickAction();
    	}

		SystemJS.import('scripts/Thumb.es').then(function(m) {			
			$.extend({
                thumb: m
	        });
	        callBack();
		});
	</script>
{% endblock %}